div.container
  div.content
    h3 Send us your sounds
    :markdown
    
      Once you make some magic, send it to us via [Soundcloud](http://soundcloud.com/wearebrightly).
    
    | <style type='text/css'>a.soundcloud-dropbox:hover {color: #1896D1 !important; background-color: transparent !important;}*html a.soundcloud-dropbox {background-image: none !important; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='(http://a1.sndcdn.com/images/dropbox_small_white.png?c765bfd)', sizingMethod='crop') !important;}/* if you want to have valid HTML, please be so kind and put the style part in the head of your page */</style><a href='http://soundcloud.com/groups/brightly-remixes/dropbox' style='display: block; margin: 20px 0 0; background: transparent url(http://a1.sndcdn.com/images/dropbox_small_white.png?c765bfd) top left no-repeat; color: #888888; font-size: 10px; height: 30px; padding: 26px 60px 0 12px; width: 127px; text-decoration: none; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; line-height: 1.3em' class='soundcloud-dropbox'>Send us your sounds</a>