div.container
  div.content
    h3 Hello, best friends
    :markdown
      
      We are [Brightly](http://wearebrightly.com), a Melbourne based indie pop band, combining elements of folk, pop and electronica.
      
      **We love remixes, and remixing.** So we’ve released all the stems for our tracks for you, the community, to do with what you will.

      All we ask is that you follow the [Creative Commons Attribution-NonCommercial-ShareAlike](http://creativecommons.org/licenses/by-nc-sa/3.0/) license. That means you can share it, enjoy it, remix it and redistrbute it, as long as it’s non-commercial and anything you make with it is released under the same license.

      All stems are split into **24-bit, 44.1k wav files**, hosted by our dearest friends, [Soundcloud](http://soundcloud.com/wearebrightly).