/*
 * We Are Brightly
 * variables.less
 *//* Main Colours */
/* Colours */
/* Layout */
/* Fonts *//* Images */
/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #d2232a;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #d2232a;
  color: #fff;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* ===== Primary Styles ========================================================
   Author: Charlie Gleason
   ========================================================================== */
@font-face {
  font-family: 'GrotesqueMTStdLight';
  src: url("../fonts/grotesquemtstd-light-webfont.eot");
  src: url("../fonts/grotesquemtstd-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/grotesquemtstd-light-webfont.woff") format("woff"), url("../fonts/grotesquemtstd-light-webfont.ttf") format("truetype"), url("../fonts/grotesquemtstd-light-webfont.svg#GrotesqueMTStdLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GrotesqueMTStdLightItalic';
  src: url("../fonts/grotesquemtstd-lightitalic-webfont.eot");
  src: url("../fonts/grotesquemtstd-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/grotesquemtstd-lightitalic-webfont.woff") format("woff"), url("../fonts/grotesquemtstd-lightitalic-webfont.ttf") format("truetype"), url("../fonts/grotesquemtstd-lightitalic-webfont.svg#GrotesqueMTStdLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  color: #000000;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  padding-top: 150px;
  background: url('../images/bg-paper.jpg') top center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 415px;
  background: url('../images/bg-arrows.png') top center no-repeat;
  z-index: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1,
h2 {
  font-family: 'GrotesqueMTStdLight';
  font-size: 3.3em;
  text-transform: uppercase;
  line-height: 1em;
}
h2 {
  font-family: 'GrotesqueMTStdLightItalic';
}
h3,
h4,
h5,
h6,
ul li {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-size: 0.75em;
  font-weight: normal;
  color: #666666;
}
h3 {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}
ul {
  list-style: none;
  padding: 0;
}
ul.tracks li a {
  display: block;
  padding: 24px;
  background: #d6d6d6;
  margin-bottom: 1px;
  border-left: 2px solid #999999;
  text-decoration: none;
  color: #000000;
}
ul.tracks li a .title {
  color: #d2232a;
}
ul.tracks li a .filesize {
  color: #666666;
}
ul.tracks li a:hover {
  background: #d2232a;
  border-color: #d2232a;
}
ul.tracks li a:hover .title {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
ul.tracks li a:hover .filesize {
  color: #ffffff;
}
p {
  font-size: 0.75em;
}
a,
a:visited {
  color: #d2232a;
}
a:hover,
a:visited:hover {
  color: #ffffff;
}
a.album,
a:visited.album {
  color: #000000;
}
a.album img,
a:visited.album img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a.album h3,
a:visited.album h3 {
  padding-top: 24px;
}
a.album:hover,
a:visited.album:hover {
  color: #d2232a;
}
a.album:hover img,
a:visited.album:hover img {
  -webkit-box-shadow: 0px 0px 10px 0px #666666;
  box-shadow: 0px 0px 10px 0px #666666;
}
a.album:hover h3,
a:visited.album:hover h3 {
  color: #d2232a;
}
:last-child {
  margin-bottom: 0;
}
.container {
  background: url('../images/bg-dashed.gif') repeat-x bottom;
  padding-bottom: 24px;
  margin-bottom: 24px;
  z-index: 10;
  position: relative;
}
.container.last {
  margin-bottom: 0;
}
.container.footer {
  background: #ffffff;
  margin-bottom: 0;
  padding-top: 24px;
}
.container.footer ul {
  margin: 0;
}
.container.footer ul li {
  color: #999999;
}
.container.footer ul li a {
  color: #666666;
}
.content {
  width: 272px;
  padding: 0 24px;
  margin: 0 auto;
}
/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
