div.container
  div.content
    a.album(href='https://soundcloud.com/wearebrightly/preflight-nerves-single')
      img(src='images/albums/preflight-nerves.png', width=272, height=272, alt="Preflight Nerves")
      h3 Preflight Nerves
    h4 Single
    ul
      li Released February 2013
      li 1 song
    ul.tracks
      li: a(href='http://soundcloud.com/wearebrightly/sets/preflight-nerves-stems') Download <span class="title">Preflight Nerves</span> stems <span class="filesize">(1.7gb)</span>