div.container
  div.content
    a.album(href='#')
      img(src='images/albums/sarah.png', width=272, height=272, alt="Sarah")
      h3 Sarah
    h4 7" Vinyl
    ul
      li Released May 2012
      li 2 songs
    ul.tracks
      li: a(href='#') Download <span class="title">Sarah</span> stems <span class="filesize">(215mb)</span>
      li: a(href='#') Download <span class="title">Doubt</span> stems <span class="filesize">(215mb)</span>