div.container.last
  div.content
    a.album(href='http://soundcloud.com/wearebrightly/sets/sarah')
      img(src='images/albums/sarah.png', width=272, height=272, alt="Sarah")
      h3 Sarah
    h4 7" Vinyl
    ul
      li Released May 2012
      li 2 songs
    ul.tracks
      li: a(href='http://soundcloud.com/wearebrightly/sets/sarah-stems') Download <span class="title">Sarah</span> stems <span class="filesize">(651.5mb)</span>
      li: a(href='http://soundcloud.com/wearebrightly/sets/doubt-stems') Download <span class="title">Doubt</span> stems <span class="filesize">(1.52gb)</span>