div.container.last
  div.content
    a.album(href='#')
      img(src='images/albums/tokyo.png', width=272, height=272, alt="We Were In Tokyo & Then We Woke Up")
      h3 We Were In Tokyo & Then We Woke Up
    h4 Single
    ul
      li Released January 2012
      li 2 songs
    ul.tracks
      li: a(href='#') Download <span class="title">Tokyo</span> stems <span class="filesize">(215mb)</span>
      li: a(href='#') Download <span class="title">&amp; Then We Woke Up</span> stems <span class="filesize">(215mb)</span>